@font-face {
    font-family: 'Redressed';
    src: url(../assets/font/Redressed-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/font/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../assets/font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "after";
    src: url(../assets/font/aftersick.otf);
}

@font-face {
    font-family: nun;
    src: url(../assets/font/NunitoSans.ttf);
}
@font-face {
    font-family: txt;
    src: url(../assets/font/Euphoria.ttf);
}

body{
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1{
    color: #d6ad60;
    font-family: redressed;
    font-size: 2em;
    margin-top: 0;
    position: absolute;
    top: 10px;
    left: 50px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -28px;
    gap: 20px;
}
.container div a{
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}
.container div a:hover {
    color: #d6ad60;
}

.bar{
    width: 100%;
    height: 50px;
    background-color: #F5F5F7;
}

.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.sk{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 5em;
    font-family: Montserrat;
    font-weight: bold;
}
.free{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B76E79;
    font-size: 2.0em;
    font-family: after;
    letter-spacing: 1px;
    position: relative;
    margin: 0;
    padding: 0;
}
.work-resume{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap: 50px;
}
.Work{
    height: 36px;
    width: 100px;
    background-color: #000;
    border:1px solid #000;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Work a{
    text-decoration: none;
    color: #f2f2f2;
    transition: color 0.3s ease;
}
.Work a:hover {
    color: #d6ad60;
}
.resume{
    height: 36px;
    width: 100px;
    color: #000;
    background-color: #f2f2f2;
    border:1px solid #000;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.3s ease;
}
.resume a{
    text-decoration: none;
    color: #000;
    
}
.resume:hover{
    border:1px solid #d6ad60;
}

.about{
    height: 100vh;
    width: 100%;
}
.pht{
    height: 500px;
    width: 375px;
    position: relative;
    margin: 75px;
    float: right;
    background-image: url(../assets/image/saran.jpeg);
    background-size: cover;
    transition: background-image 0.3s ease;
}
.title_about{
    width: 800px;
    font-size: 4em;
    margin: 50px;
    margin-top: 75px;
    position: relative;
    top: 50px;
    font-family: nun;
    font-weight: 600;
}
.s_about{
    font-size: 1.2em;
    width: 800px;
    margin: 50px;
    color: #464646;
    letter-spacing: .5px;
    line-height: auto;
    margin-top: 75px;
    position: relative;
    font-family: roboto;
}
.exp_con{
    display: flex;
    justify-content: center;
    float: left;
    margin-left: 50px;
    gap: 25px;
}
.exp{
    height: 36px;
    width: 100px;
    background-color: #d6ad60;
    border:1px solid #d6ad60;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exp a{
    text-decoration: none;
    color: #f2f2f2;
    transition: color 0.3s ease;
}
.exp a:hover {
    color: #000;
}
.con{
    width: 100px;
    color: #000;
    background-color: #f2f2f2;
    border:1px solid #d6ad60;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.3s ease;
}
.con a{
    text-decoration: none;
    color: #d6ad60;
    
}
.con:hover{
    border:1px solid #000;
}
.work_with{
    height: 60vh;
}
.project{
    width: 100%;
    height: 50vh;
}
.pro_title{
    color: #000;
    font-family: nun;
    font-size: 5em;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 50px;
}

.pro_pht {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #e0e0e0 #f0f0f0;
    margin-top: 150px;
    margin-left: 50px;
    cursor: grab; 
}

.pro_pht:hover {
    cursor: grabbing; 
}

.pro_pht::-webkit-scrollbar {
    height: 10px;
}

.pro_pht::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 5px;
}

.pro_pht::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.pro_pht_hod {
    flex: 0 0 300px;
    height: 300px;
    margin-right: 15px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.pro_div_pht,.pro_div_pht2{
    height: 300px;
    width: 300px;
    position: relative;
    margin: 0px;
    background-image: url(../assets/image/food_delivery_app_1.png);
    background-size: cover;
    
}
.pro_div_pht2{
    background-image: url(../assets/image/food_delivery_app_2.png);
    background-size: cover;
}



.work_with_title{
    color: #000;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 9em;
    font-weight: 1000;
    margin-top: 200px;
}
.to {
    color: #B76E79;
    font-size: 1em;
    font-family: txt;
    font-weight: 100;
    margin-top: 0;
    position: relative;
    top: 220px;
}
.work_con{
    height: 36px;
    width: 100px;
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border:2px solid #d6ad60;
    border-radius: 25px;
    margin-top: 100px;
    transition: border 0.3s ease;
}
.work_con a{
    text-decoration: none;
    color: #d6ad60;
    transition: color 0.3s ease;
}
.work_con a:hover{
    color: #000;
    
}
.work_con:hover{
    border:1px solid #000;
}
.end{
    height: 15vh;
    width: 100%;
}
.end_line{
    width: 100%;
    height: 2px;
    background-color: #000;
    position: relative;
    top: 25px;
}
.saran_end_logo{
    color: #d6ad60;
    font-family: redressed;
    font-size: 2em;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}
.container_end{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    position: relative;
    top: 10px;
    gap: 20px;
}
.container_end div a{
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}
.container_end div a:hover {
    color: #d6ad60;
}
.saran_copy{
    margin-top: 35px;
    margin-left: 15px;
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        font-size: 14px;
    }

    h1 {
        font-size: 1.5em;
        position: static;
        text-align: left;
        position: absolute;
        top: 5px;
        left: 25px;
    }

    .container {
        gap: 10px;
        text-align: center;
        margin-top: 10px;
    }

    .bar {
        height: 30px;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .all {
        padding: 20px 0;
        height: 100vh;
    }

    .sk {
        font-size: 3em;
        text-align: center;
    }

    .free {
        font-size: 1.5em;
        text-align: center;
    }

    .work-resume {  
        gap: 15px;
    }

    .Work, .resume {
        width: 80px;
        height: 30px;
    }

    .about {
        height: auto;
        padding: 20px 0;
    }

    .pht {
        float: none;
        margin: 20px auto;
        height: 300px;
        width: 250px;
        border-radius: 0px; /* Optional: Add rounded corners */
    }

    .title_about {
        width: 100%;
        font-size: 2em;
        margin: 20px 0;
        text-align: center;
    }

    .s_about {
        width: 75%;
        font-size: 1em;
        line-height: 1.5;
        text-align: justify;
    }

    .exp_con {
        gap: 10px;
        text-align: center;
    }

    .exp, .con {
        width: 80px;
        height: 30px;
    }

    .work_with {
        height: 50vh;
        padding: 20px 0;
    }

    .work_with_title {
        font-size: 4em;
        margin: 50px 0;
        text-align: center;
    }

    .to {
        font-size: 0.8em;
        text-align: center;
        position: relative;
        top: 70px;
    }

    .work_con {
        margin: 20px auto;
        width: 80px;
        height: 30px;
    }

    .end {
        height: auto;
        padding: 20px 0;
    }

    .end_line {
        margin: 10px 0;
        height: 2px;
    }

    .saran_end_logo {
        font-size: 1.2em;
        text-align: center;
    }

    .container_end {
        flex-direction: column;
        gap: 10px;
    }

    .saran_copy {
        font-size: 12px;
        text-align: left;
    }
}
